.carrousel {
  width: 50vw;
  height: 25vh;
  margin: 0 auto;
}

h2 {
  font-size: calc(36rem / 16);
  color: $color1;
}

.housingMain {
  display: flex;
  justify-content: space-between;
  .title {
    display: flex;
    flex-direction: column;
    &__location {
      font-size: calc(18rem / 16);
      color: $color1;
    }
    &__tags {
      display: flex;
      gap: 0.5rem;
      li {
        display: flex;
        align-items: center;
        font-size: calc(14rem / 16);
        color: white;
        background: $color1;
        height: calc(25rem / 16);
        border-radius: calc(10rem / 16);
        flex-shrink: 0;
        padding: 0 0.6rem;
      }
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    .host {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      &__pic {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
      }
      &__name {
        color: $color1;
        text-align: right;
        font-size: calc(18rem / 16);
        line-height: 142.6%;
        width: 50%;
      }
    }
  }
}

.housingCollapse {
  display: flex;
  gap: 4rem;
  &__description {
    flex: 1;
    max-width: 48%;
  }
  &__equipments {
    flex: 1;
    max-width: 48%;
  }
}
