header
  background: white
  display: flex
  align-items: center
  justify-content: space-between
  padding: 2rem 3rem

.navbar
  width: 500px
  display: flex
  justify-content: flex-end

  a
    text-decoration: none
    color: red
    padding: 1rem
    font-size: 1.5rem
